<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#kehko-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kehko</a>
    </div> <!-- ./navbar-header -->

  <!--
  REMEMBER TO USE {% verbatim %} {% endverbatim %} tags
  where you include angular

  -->
    <div class="collapse navbar-collapse" id="kehko-nav">
      <ul class="nav navbar-nav pull-right">
      {% verbatim %}
          is logged in = {{ vm.loggedIn }},
        <span ng-show="vm.loggedIn">
            <li><a href="/account">Your Account</a></li>
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
            <li>username = {{ vm.username }}</li>
        </span>

        <span ng-hide="vm.loggedIn">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </span>

      {% endverbatim %}
      </ul>
    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>
