<form ng-submit="submitForm(email, password)">
    <div class="list">
      <label class="item item-input">
        <input type="email" ng-model="email" placeholder="Your email address">
      </label>
    </div>

    <div class="list">
      <label class="item item-input">
        <input type="password" ng-model="password" placeholder="Your password">
      </label>
    </div>
    <div class="padding">
      <button type="submit" class="button button-block button-positive">Log in</button>
    </div>
</form>
